@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&family=Oswald&display=swap');

header {
    margin: 0;
}
a{
    text-decoration: none;
    padding-left: 20px;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a292ff;
    padding: 3px 12px;
    font-family: 'Lobster', cursive;
}

.navbar_menu{
    display: flex;
    list-style: none;
    margin: 30px;
    margin-left: auto;
    
}

.navbar_menu li{
    padding: 8px 12px;
    text-align: center;
    color: black;
    font-family: 'Lobster', cursive;

}

.navbar_menu li:hover{
    background-color: #8771ff;
    border-radius: 4px;

}

@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .profile{
        flex-direction: column;
        width: 50px;
        height: 50px;
    }

    ul > li > a .screen .top{
        flex-direction: column;
        font-size: 1px;
    }
    
    ul > li > a .screen .bottom{
        flex-direction: column;
        font-size: 1px;
    }

}

footer{
    background-color: #a292ff;
    width: 100%;
    height: 100px;

}



.text{
    padding-left: 40%;
    padding-top: 40%;
}

.instagram{
    float: left;
    padding-top: 10px;
}

.footer{
    padding-left: 43%;
}

.contect{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: black;
    padding-left: 50px;
}

.name{
    float: left;
}

.gallery{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
}